numpy
pandas
scikit-image
torch
torchvision
robustness
joblib
chop
lightgbm==3.0.0rc1
easydict
dill
tables
-e git+https://github.com/openopt/chop.git@539cf615fa545d43a79441cc73baf32184b855bf#egg=chop
